pipeline/pl_raw_to_refined.json
{
	"name": "pl_raw_to_refined",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_raw_to_refined",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_get_raw_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_get_raw_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_copy_raw_to_refined",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_raw_file_source",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container_name",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat('Raw/', formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'),'yyyy/'), formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'),'MM/'),formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'),'dd/'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_refined_sink",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container_name",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat('Refined/', formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'),'yyyy/'), formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'),'MM/'),formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'),'dd/'))",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().name, '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_copy_refined_audits",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_copy_raw_to_refined",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "SELECT \n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{concat(item().name, '_', formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'), 'yyyyMMdd'), '.parquet')}' as FileName,\n'@{activity('act_copy_raw_to_refined').output.rowsRead}' as RawCount,\n'@{activity('act_copy_raw_to_refined').output.rowsCopied}' as RefinedCount,\n'@{pipeline().RunId}' as RunID,\n'@{pipeline().TriggerTime}' as ExecutionDate,\n'@{activity('act_copy_raw_to_refined').output.executionDetails[0].status}' as ExecutionStatus\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_refined_audits_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_refined_audits_sink",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container_name",
											"type": "Expression"
										},
										"folder_name": "Audits/temp",
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "act_merge_refined_audits",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_foreach_raw_to_refined",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Audits/temp",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_refined_audits_merge_source",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"folder_name": "Audits/temp"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_refined_audits_merge_sink",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@concat('Audits/',formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'), 'yyyyMMdd/'))",
								"type": "Expression"
							},
							"filename": "raw_to_refined_audit.csv"
						}
					}
				]
			},
			{
				"name": "act_delete_refined_audits",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "act_merge_refined_audits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_delete_refined_audits",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"folder_name": "Audits/temp"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "act_get_raw_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_get_raw_files",
						"type": "DatasetReference",
						"parameters": {
							"adls_container_name": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"raw_folder_path": {
								"value": "@concat('Raw/', formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'), 'yyyy/'), formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'), 'MM/'), formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'Eastern Standard Time'), 'dd/'))",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "act_views_script",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "act_foreach_raw_to_refined",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_synapse",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "adls_connection_url",
									"type": "String",
									"value": {
										"value": "@pipeline().globalParameters.adls_connection_url",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "container_name",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.adls_container_name",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "refined_folder_name",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Refined_Folder_Name",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "DECLARE @DataSource varchar(500) = 'RefinedData'\nDECLARE @Location varchar(500) = concat(@adls_connection_url, '/', @container_name, '/', @refined_folder_name)\nDECLARE @dscommand nvarchar(1000)\n\nif (select count(*) from sys.external_data_sources where name = @DataSource) = 0\nBEGIN\nset @dscommand=N'CREATE EXTERNAL DATA SOURCE ' + @DataSource +\n    ' WITH \n    ( LOCATION = '''+@Location+''');'\nEND\nEXEC sp_executesql @dscommand\n\nDECLARE @contractor_details_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.contractor_details as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/contractor_details.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'\n\nDECLARE @laptops_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.laptops as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/laptops.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'\n\nDECLARE @lineofbusiness_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.lineofbusiness as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/lineofbusiness.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'\n\nDECLARE @loan_test_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.loan_test as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/loan_test.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'\n\nDECLARE @mobiles_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.mobiles as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/mobiles.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'\n\nDECLARE @teams_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.teams as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/teams.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'\n\nDECLARE @Tomatoprices_script nvarchar(4000)\nset @contractor_details_script = N'CREATE OR ALTER VIEW dbo.Tomatoprices as \nSELECT * \nFROM OPENROWSET(\n    BULK ''*/*/*/Tomatoprices.*.parquet'',\n    FORMAT = ''parquet''\n    DATA_SOURCE = '''+@DataSource+'''\n) as [a]'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"adls_container_name": {
				"type": "string"
			},
			"Refined_Folder_Name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}