pipeline/pl_s3_adls.json
{
	"name": "pl_s3_adls",
	"properties": {
		"activities": [
			{
				"name": "act_get_metadata_s3",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_aws_s3_files_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"s3_bucket_name": {
								"value": "@pipeline().parameters.s3_bucket_name",
								"type": "Expression"
							},
							"summary_filename": {
								"value": "@pipeline().parameters.s3_summary_file",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "act_If_Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "act_get_metadata_s3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('act_get_metadata_s3').output.childItems), 1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "act_copy_summary_file",
							"description": "This activity will copy the summary file from s3 bucket to azure storage account",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_s3_summary_file_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_s3_summary_file_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"s3_bucket_name": {
				"type": "string",
				"defaultValue": "s3-data-engineering-project"
			},
			"s3_summary_file": {
				"type": "string",
				"defaultValue": "summaryfile.txt"
			},
			"adls_container_name": {
				"type": "string",
				"defaultValue": "dataengineering"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T10:15:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}