pipeline/pl_s3_to_adls_master.json
{
	"name": "pl_s3_to_adls_master",
	"properties": {
		"activities": [
			{
				"name": "act_get_metadata_s3",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_aws_s3_files_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"s3_bucket_name": {
								"value": "@pipeline().parameters.s3_bucket_name",
								"type": "Expression"
							},
							"s3_summary_file": {
								"value": "@pipeline().parameters.s3_summary_file",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "act_If_Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "act_get_metadata_s3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('act_get_metadata_s3').output.childItems), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"description": "This will puposefully fail the pipeline if the summary file is not seen in s3",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Summary File is missing in S3",
								"errorCode": "Summary File is missing in S3, please check and rerun the pipeline"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "act_copy_summary_file",
							"description": "This activity will copy the summary file from s3 bucket to azure storage account",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@pipeline().parameters.s3_summary_file",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_s3_summary_file_source",
									"type": "DatasetReference",
									"parameters": {
										"bucket_name": {
											"value": "@pipeline().parameters.s3_bucket_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@pipeline().parameters.s3_summary_file",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_s3_summary_file_sink",
									"type": "DatasetReference",
									"parameters": {
										"adls_container_name": {
											"value": "@pipeline().parameters.adls_container_name",
											"type": "Expression"
										},
										"adls_folder_name": "SummaryFiles",
										"adls_filename": {
											"value": "@concat(split(pipeline().parameters.s3_summary_file, '.')[0], '.txt')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "act_execute_pl_src_to_raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "act_If_Condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_src_to_raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adls_container_name": {
							"value": "@pipeline().parameters.adls_container_name",
							"type": "Expression"
						},
						"adls_folder_name": "SummaryFiles",
						"adls_filename": "summaryfile.txt",
						"s3_bucket_name": {
							"value": "@pipeline().parameters.s3_bucket_name",
							"type": "Expression"
						},
						"s3_filename": {
							"value": "@pipeline().parameters.s3_summary_file",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"s3_bucket_name": {
				"type": "string",
				"defaultValue": "s3-data-engineering-project"
			},
			"s3_summary_file": {
				"type": "string",
				"defaultValue": "summaryfile.*"
			},
			"adls_container_name": {
				"type": "string",
				"defaultValue": "data"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T10:15:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}